---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';

import { headerData } from '~/data';
import Pricing from '~/components/widgets/Pricing.astro';

const meta = {
	title: 'Managed Network',
};

const pricing = [
	{
		name: 'on Demand',
		price: 'Free',
		popular: false,
		features: ['Helpdesk', 'Knowledgebase'],
		button: {
			text: 'Get Started',
			link: '/',
		},
	},
	{
		name: 'Pro-Active',
		price: {
			monthly: 'ab 28 €',
			annual: '$16',
			discount: '10%',
			original: '$24',
		},
		popular: true,
		features: ['on Demand', 'Reaktionszeit <2 Std.', 'Antivirus', 'Monitoring', 'Reporting', 'Patchmanagement'],
		button: {
			text: 'Get Started',
			link: '#',
		},
	},
	{
		name: 'Managed',
		price: 'ab 55 €',
		popular: false,
		features: ['Pro-Active', 'Service Flat', 'Prio Helpdesk', 'Softwareverteilung'],
		button: {
			text: 'Contact us',
			link: '/contact',
		},
	},
];
---

<Layout {meta}>
	<Fragment slot="header">
		<Header {...headerData} isSticky showRssFeed showToggleTheme />
	</Fragment>

	<!-- Hero2 Widget ******************* -->

	<Hero2
		image={{
			src: import('~/assets/images/server-gb7e58ac83_1920.jpg'),
			alt: 'Rechenzentrum mit bunten LEDs die sich im Boden spiegeln',
		}}
	>
		<Fragment slot="title">
			<span class="font-gothic">Managed Network</span>
		</Fragment>

		<Fragment slot="subtitle">
			<span class="hidden sm:inline"
				>Ein Managed Network Service kann Ihrem Unternehmen viele Vorteile bieten. Als Managed IT Service Provider
				können wir sicherstellen, dass Ihr Netzwerk sicher, skalierbar, effizient und kosteneffektiv ist. Wir überwachen
				und warten Ihr Netzwerk, um sicherzustellen, dass es immer auf dem neuesten Stand ist und optimal funktioniert.
				Zusätzlich kontrollieren und managen wir Ihre Firewalls und VPN Verbindungen, so bleibt ihr Netzwerk jederzeit
				sicher. Wenn Sie sich für einen Managed Network Service entscheiden, können Sie sich auf Ihr Kerngeschäft
				konzentrieren und müssen sich keine Gedanken über die Verwaltung und Wartung Ihres Netzwerks machen.
				Kontaktieren Sie uns noch heute, um zu erfahren, wie wir Ihnen helfen können.
			</span>
		</Fragment>
	</Hero2>

	<!-- Content Widget **************** -->

	<Content
		isReversed
		items={[
			{
				title: 'Erhöhte Sicherheit',
				description:
					'wir haben Ihren Netzwerkverkehr, Firewallregeln und Zugriff von Geräten auf Ihre Netzwerk zu jeder Zeit im Blick.',
			},
			{
				title: 'Effizienterer IT-Betrieb',
				description:
					'durch die Automatisierung von IT-Standardaufgaben und professionellen Support, entlasten wir Ihre IT und machen diese frei für wichtigere Aufgaben.',
			},
			{
				title: 'Kostenersparnis',
				description:
					'das Auslagern von Standardprozessen und das Zurückgreifen auf externe Expertise können die eigenen Aufwände für Standard- und Spezialaufgaben gesenkt oder sogar vermieden werden.',
			},
		]}
		image={{
			src: import('~/assets/images/stockvault-server-network-panel142572.jpg'),
			alt: 'Switch in einem Serverschrank mit Netzwerkkabeln',
		}}
	>
		<Fragment slot="content">
			<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Nutzen Sie die Vorteile</h3>
			Mit unserem Managed Network Service profitieren Sie von unserem Expertenwissen im Umgang mit Netzwerksicherheit, Netzwerkzugriffen
			und Firewallmanagement.
		</Fragment>
	</Content>
</Layout>
