---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';

import { headerData } from '~/data';
import Pricing from '~/components/widgets/Pricing.astro';

const meta = {
	title: 'Managed Endpoint',
};

const pricing = [
	{
		name: 'on Demand',
		price: 'Free',
		popular: false,
		features: ['Helpdesk', 'Knowledgebase'],
		button: {
			text: 'Get Started',
			link: '/',
		},
	},
	{
		name: 'Pro-Active',
		price: {
			monthly: 'ab 28 €',
			annual: '$16',
			discount: '10%',
			original: '$24',
		},
		popular: true,
		features: ['on Demand', 'Reaktionszeit <2 Std.', 'Antivirus', 'Monitoring', 'Reporting', 'Patchmanagement'],
		button: {
			text: 'Get Started',
			link: '#',
		},
	},
	{
		name: 'Managed',
		price: 'ab 55 €',
		popular: false,
		features: ['Pro-Active', 'Service Flat', 'Prio Helpdesk', 'Softwareverteilung'],
		button: {
			text: 'Contact us',
			link: '/contact',
		},
	},
];
---

<Layout {meta}>
	<Fragment slot="header">
		<Header {...headerData} isSticky showRssFeed showToggleTheme />
	</Fragment>

	<!-- Hero2 Widget ******************* -->

	<Hero2 image={{ src: import('~/assets/images/fly-d-C5pXRFEjq3w-unsplash.jpg'), alt: 'Notebook mit Schloss' }}>
		<Fragment slot="title">
			<span class="font-gothic">Managed Endpoint</span>
		</Fragment>

		<Fragment slot="subtitle">
			<span class="hidden sm:inline"
				>die Komplettlösung für die Verwaltung und Wartung Ihrer Endgeräte. Verabschieden Sie sich von der aufwändigen
				Verwaltung mehrerer Systeme und profitieren Sie von zentralisiertem Management und höchster Sicherheit mit
				unserem Managed Endpoint Service. Wir bieten Ihnen maximalen Schutz vor Cyberangriffen, Patch-Management für
				Betriebssysteme und Anwendungen, Softwareverteilung und Gerätekonfigurationsmanagement.
			</span>
		</Fragment>
	</Hero2>

	<!-- Content Widget **************** -->

	<Content
		isReversed
		items={[
			{
				title: 'Erhöhte Sicherheit',
				description:
					'bietet fortschrittliche Sicherheitsmaßnahmen zum Schutz vor Cyber-Bedrohungen und Malware-Angriffen und gewährleistet die Sicherheit und Integrität der Daten und Geräte Ihres Unternehmens.',
			},
			{
				title: 'Effizienterer IT-Betrieb',
				description:
					'durch die Automatisierung von IT-Standardaufgaben und professionellen Support, entlasten wir Ihre IT und machen diese frei für wichtigere Aufgaben.',
			},
			{
				title: 'Kostenersparnis',
				description:
					'das Auslagern von Standardprozessen und das Zurückgreifen auf externe Expertise können die eigenen Aufwände für Standard- und Spezialaufgaben gesenkt oder sogar vermieden werden.',
			},
		]}
		image={{
			src: import('~/assets/images/caos.jpg'),
			alt: 'Colorful Image',
		}}
	>
		<Fragment slot="content">
			<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Nutzen Sie die Vorteile</h3>
			Mit unserem Managed Endpoint Service profitieren Sie von unserem Expertenwissen im Umgang mit IT-Security, Device Compliance
			und Softwaremanagement.
		</Fragment>
	</Content>

	<section class="px-4 sm:px-6 mx-auto lg:px-8 max-w-6xl">
		<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
			{pricing.map((item) => <Pricing plan={item} />)}
		</div>
	</section>
</Layout>
