---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
	title: SITE.title,
	description: SITE.description,
	dontUseTitleTemplate: true,
};
---

<Layout {meta}>
	<!-- Hero Widget ******************* -->

	<Hero
		callToAction={{ text: 'Interesse?', href: 'https://calendly.com/bennytasche/betaits-kennenlernen' }}
		callToAction2={{ text: 'Wie funktionierts?', href: '#steps' }}
		image={{
			src: import('~/assets/images/unsplash-NuFUbftUu_s-unsplash.jpg'),
			alt: 'Notebook, Kaffee und Notizblock auf Schreibtisch',
		}}
	>
		<Fragment slot="title" class="font-gothic tracking-wide">IT so, wie sie sein soll!</Fragment>

		<Fragment slot="subtitle">
			<p class="text-xl font-light text-gray-600 mb-8 dark:text-slate-400">
				Wenn Sie sich "einfache", "verständliche" und "unkomplizierte" IT wünschen, sind wir die richtigen für Sie. Wir
				kümmern uns um Best Practices, Backup & Revovery, IT-Security, <span class="inline sm:hidden">...</span><span
					class="hidden sm:inline">Hosting, Netzwerke, Betrieb von Cloudinfrastrukturen, Patchmanagement und mehr.</span
				>
			</p>
		</Fragment>
	</Hero>

	<!-- Features Widget *************** -->

	<Features2
		title="Unsere Managed Services"
		subtitle="Unsere Pakete bestehen aus mehreren kleinen Bausteinen, die einzeln gebucht, oder in Paketen zusammengefasst werden können"
		highlight="Pakete"
		items={[
			{
				title: 'Managed Endpoint',
				description:
					'Wir stellen sicher, dass ihre Endgeräte immer in einem definierten Zustand beim Nutzer ankommen und genutzt werden können.',
				icon: 'mdi:laptop',
			},
			{
				title: 'Managed Infrastructure',
				description:
					'IT-Landschaften sind hoch komplex. Server, Netzwerk und Cloudanwendungen sollen betrieben und überwacht werden. Wir können das!',
				icon: 'mdi:microsoft-azure',
			},
			{
				title: 'Managed M365',
				description:
					'Microsofts Productivity Lösung ist kaum mehr wegzudenken, wir kennen die Werkzeuge wie unsere Westentasche und helfen ihnen bei Konfiguration und Betrieb.',
				icon: 'mdi:microsoft-office',
			},
		]}
	/>

	<Features
		highlight="Bausteine"
		title="Unsere Dienstleistungen"
		subtitle="Es müssen nicht immer Pakete sein, wir managen für sie auch einzelne Dienste, wie zum Beispiel:"
		items={[
			[
				{
					title: 'Monitoring & Reporting',
					description: 'Inventory, Traffic, Verfügbarkeit und Status von Systemen auf einen Blick.',
					icon: 'mdi:file-chart',
				},
				{
					title: 'Patchmanagement',
					description: 'Wir halten ihre Softwarelandschaft up-to-date',
					icon: 'mdi:update',
				},
				{
					title: 'Security',
					description: 'Mit einem 24/7 Service gegen Ransomware, Malware und Trojaner.',
					icon: 'mdi:security',
				},
			],
			[
				{
					title: 'Mobile Device Management',
					description: 'Gesicherte Geräte rund um die Welt und nicht nur im eigenen Netzwerk.',
					icon: 'mdi:cellphone-key',
				},
				{
					title: 'Backup & Recovery',
					description: '3-2-1, Cloud- oder On-Prem-Backups. Wir stellen ihre Business Continuity sicher!',
					icon: 'mdi:cloud-upload',
				},
				{
					title: 'Hardwarebeschaffung',
					description: 'Mit kurzen Lieferzeiten und unkompliziertem Einkauf.',
					icon: 'mdi:server',
				},
			],
		]}
	/>

	<!-- Call to Action *************** -->

	<CallToAction
		callToAction={{
			text: 'Termin vereinbaren',
			href: 'https://calendly.com/bennytasche/betaits-kennenlernen',
			icon: 'uil:calender',
		}}
	>
		<Fragment slot="title">Lassen Sie uns gerne sprechen!</Fragment>
	</CallToAction>

	<!-- Steps Widget ****************** -->

	<Steps
		title="Wie funktioniert Managed IT Service?"
		items={[
			{
				title: 'Schritt 1: <span class="font-medium">Analyse</span>',
				description:
					'Unsere IT-Experten nehmen Ihre Infrastruktur unter die Lupe und bereiten dann das passende Angebot für Sie vor.',
				icon: 'tabler:arrow-down',
			},
			{
				title: 'Schritt 2: <span class="font-medium">Vorbereitung</em>',
				description:
					'Wir bereiten Ihre IT-Infrastruktur optimal vor und dokumentieren alles, damit wir unseren Service und Support effizient ausführen können.',
				icon: 'tabler:arrow-down',
			},
			{
				title: 'Schritt 3: <span class="font-medium">Betrieb</span>',
				description:
					'Die Services sind installiert und betriebsbereit. Wir garantieren den laufenden Betrieb und Sie kümmern sich um die wichtigeren Themen.',
				icon: 'tabler:arrow-down',
			},
			{
				title: 'Ready!',
				icon: 'tabler:check',
			},
		]}
		image={{
			src: import('~/assets/images/linkedin-sales-solutions-EI50ZDA-l8Y-unsplash.jpg'),
			alt: 'Steps image',
		}}
	/>

	<!-- Note Widget ******************* -->

	<Note />

	<!-- FAQs Widget ******************* -->

	<FAQs
		title="Frequently Asked Questions"
		subtitle=""
		highlight="FAQs"
		items={[
			[
				{
					question: 'Was sind Managed IT Services?',
					answer:
						'Managed IT Services sind proaktive Dienstleistungen von Anbietern wie uns. Wir bieten zum Beispiel den Support und die Verwaltung Ihrer IT, Patchmanagement, Netzwerk- und Endpoint-Security und Business Continuity durch Backup und Recovery Services.',
				},
				{
					question: 'Welche Vorteile bieten mir Managed IT Services?',
					answer:
						'Durch den Zugriff auf unsere Expertise erhalten sie höhere Effizienz in Ihren IT Prozessen, kürzer Downtimes bei Störungsfällen, erhöhte IT-Sicherheit oder ergänzen Ihre interne IT um Fähigkeiten, die aktuell Inhouse nicht abgebildet werden können.',
				},
				{
					question: 'Gibt es Risikien bei Managed IT Services?',
					answer:
						'Wie Überall in der IT gibt es auch bei Managed IT Services Risiken. Als externer Dienstleister haben wir je nach gewähltem Service umfangreiche Zugriffe auf Ihre Daten. Wir sichern Sie und uns durch strenge Richtlinien und Schutzmaßnahmen gegen unbefugte Zugriffe und Schadsoftware.',
				},
			],
			[
				{
					question: 'Was ist der Unterschied zwischen Managed IT Services und klassischen IT Dienstleistungen?',
					answer:
						'Managed IT Services sind proaktive Dienstleistungen die darauf ausgerichtet sind Probleme zu verhindern bevor sie entstehen, während klassische IT Dienstleistungen erst auf Anfrage oder im Fall eines Problems tätig werden.',
				},
				{
					question: 'Was sind die Vorteile von Managed IT Services gegenüber einer eigenen IT Abteilung?',
					answer:
						'Mit unseren Services haben Sie Zugriff auf ein breiteres Spektrum an IT Dienstleistungen, als Ihre interne IT abbilden kann und das zu einem niedrigeren Preis.',
				},
				{
					question: 'Können Managed IT Services auf meine Bedürfnisse angepasst werden?',
					answer:
						'Ja! Viele unserer Dienstleistungen lassen sich auf Ihre Anforderungen anpassen. Sprechen Sie uns an.',
				},
			],
		]}
	/>

	<!-- HighlightedPosts Widget ******* -->

	<LatestPosts
		title="Neuigkeiten aus unserer Welt"
		information={`Wir lieben moderne IT. Neben dem Ausprobieren und Betreiben von modernsten Technologien, schreiben wir auch noch gerne darüber. In unserem Blog versuchen wir Ihnen Updates und Interessantes aus unserer Welt näher zu bringen.
		`}
		postIds={[
			'get-started-website-with-astro-tailwind-css.md',
			'how-to-customize-astrowind-to-your-brand.md',
			'useful-resources-to-create-websites.md',
			'astrowind-template-in-depth.md',
		]}
	/>
</Layout>
