---
import { SITE_CONFIG } from '~/utils/config';
---

<div class="flex">
	<span>
		<img class="h-8" src="/1_icon_cropped.png" alt="betaITS Logo" />
	</span>
	<span
		class="ml-2 text-3xl font-bold my-auto bg-clip-text text-transparent bg-gradient-to-r from-orange-500 via-red-500 to-rose-800"
		>beta</span
	><span class="text-3xl font-bold my-auto text-neutral-700 dark:text-white">ITS</span>
</div>
